<!-- INCLUDE overall_header.html -->

<h2 class="solo">{PAGE_TITLE}</h2>

<form method="post" action="{S_MODE_ACTION}">

<div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>

	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name"><span class="rank-img">{L_RANK}&nbsp;</span>{L_ADMINISTRATORS}</th>
	<!-- IF S_USIT_ENABLE and S_USIT_TEAM and not U_HIDE_FIND_MEMBER -->
		<th class="status">{L_USER_STATUS}</th>
	<!-- ELSE -->
	<!-- ENDIF -->
		<th class="info">{L_PRIMARY_GROUP}</th>
		<th class="info">{L_FORUMS}</th>
	</tr>
	</thead>
	<tbody>
<!-- BEGIN admin -->
	<tr class="<!-- IF admin.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td><!-- IF admin.RANK_IMG --><span class="rank-img">{admin.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{admin.RANK_TITLE}</span><!-- ENDIF -->{admin.USERNAME_FULL}</td>
	<!-- IF S_USIT_ENABLE and S_USIT_TEAM and not U_HIDE_FIND_MEMBER -->
		<td class="status">
			<!-- IF admin.S_USER_ON -->
				<!-- IF S_USIT_TEXT --><span style="color:#008000; font-weight:bold;">{L_ONLINE}</span>
				<!-- ELSE --><img src="{ROOT_PATH}{L_ADDRESS_ON}{S_USIT_IMAGES}{L_PNG}" alt="" title="{L_ONLINE}" />
				<!-- ENDIF -->
			<!-- ELSE -->
				<!-- IF S_USIT_TEXT --><span style="color:#FF0000; font-weight:bold;">{L_OFFLINE}</span>
				<!-- ELSE --><img src="{ROOT_PATH}{L_ADDRESS_OFF}{S_USIT_IMAGES}{L_PNG}" alt="" title="{L_OFFLINE}" />
				<!-- ENDIF -->		
			<!-- ENDIF -->
		</td>
	<!-- ELSE -->
	<!-- ENDIF -->
		<td class="info"><!-- IF admin.U_GROUP -->
			<a<!-- IF admin.GROUP_COLOR --> style="font-weight: bold; color:#{admin.GROUP_COLOR}"<!-- ENDIF --> href="{admin.U_GROUP}">{admin.GROUP_NAME}</a>
			<!-- ELSE -->
				{admin.GROUP_NAME}
			<!-- ENDIF --></td>
		<td class="info">-</td>
	</tr>
<!-- BEGINELSE -->
	<tr class="bg1">
		<td colspan="3"><strong>{L_NO_ADMINISTRATORS}</strong></td>
	</tr>
<!-- END admin -->
	</tbody>
	</table>
	
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>
	 
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_MODERATORS}</th>
	<!-- IF S_USIT_ENABLE and S_USIT_TEAM and not U_HIDE_FIND_MEMBER -->
		<th class="status">{L_USER_STATUS}</th>
	<!-- ELSE -->
	<!-- ENDIF -->
		<th class="info">&nbsp;</th>
		<th class="info">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
<!-- BEGIN mod -->
	<tr class="<!-- IF mod.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td><!-- IF mod.RANK_IMG --><span class="rank-img">{mod.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{mod.RANK_TITLE}</span><!-- ENDIF -->{mod.USERNAME_FULL}</td>
	<!-- IF S_USIT_ENABLE and S_USIT_TEAM and not U_HIDE_FIND_MEMBER -->
		<td class="status">
			<!-- IF mod.S_USER_ON -->
				<!-- IF S_USIT_TEXT --><span style="color:#008000; font-weight:bold;">{L_ONLINE}</span>
				<!-- ELSE --><img src="{ROOT_PATH}{L_ADDRESS_ON}{S_USIT_IMAGES}{L_PNG}" alt="" title="{L_ONLINE}" />
				<!-- ENDIF -->
			<!-- ELSE -->
			<!-- IF S_USIT_TEXT --><span style="color:#FF0000; font-weight:bold;">{L_OFFLINE}</span>
				<!-- ELSE --><img src="{ROOT_PATH}{L_ADDRESS_OFF}{S_USIT_IMAGES}{L_PNG}" alt="" title="{L_OFFLINE}" />
				<!-- ENDIF -->		
			<!-- ENDIF -->
		</td>
	<!-- ELSE -->
	<!-- ENDIF -->
		<td class="info"><!-- IF mod.U_GROUP -->
			<a<!-- IF mod.GROUP_COLOR --> style="font-weight: bold; color:#{mod.GROUP_COLOR}"<!-- ENDIF --> href="{mod.U_GROUP}">{mod.GROUP_NAME}</a>
			<!-- ELSE -->
				{mod.GROUP_NAME}
			<!-- ENDIF --></td>
		<td class="info"><!-- IF not mod.FORUMS -->{L_ALL_FORUMS}<!-- ELSE --><select style="width: 100%;">{mod.FORUMS}</select><!-- ENDIF --></td>
	</tr>
<!-- BEGINELSE -->
	<tr class="bg1">

	<!-- IF S_USIT_ENABLE and S_USIT_TEAM -->
		<td colspan="4"><strong>{L_NO_MODERATORS}</strong></td>
	<!-- ELSE -->
		<td colspan="3"><strong>{L_NO_MODERATORS}</strong></td>
	<!-- ENDIF -->
	</tr>
<!-- END mod -->
	</tbody>
	</table>
	
	<span class="corners-bottom"><span></span></span></div>
</div>
	
</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->